<div class="center-form">
    <img src="../../../../assets/logo1.png" alt="Logo" class="logo" />
    <h2>Enter Details to Register</h2>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="custom-form">
        <nz-form-item>
            <nz-form-control nzErrorTip="Insira seu nome!">
                <nz-input-group nzPrefixIcon="idcard">
                    <input type="text" nz-input formControlName="name" placeholder="Nome" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Insira sua senha!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Senha" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" nzBlock [disabled]="registerForm.invalid" class="w-100">
            Registrar-se
        </button>
    </form>
</div>