// .navbar-style {
//     background-color: #1e3c5a;
// }

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

nz-footer {
    text-align: center;
}

.username{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white; color: black; display: flex; justify-content: end; align-items: center;
}

.username div{
 margin-right: 15px;
}